/* ---------FORM----- */


.user-list-container{
    width: auto;
    height: 450px;
    overflow-y: scroll;
}
.post-container{
    width: 600px;
    height: fit-content;
    text-align: left;
    margin: 0 auto;
    background-color: aliceblue;
    margin-top: 2px;
    border: #001233 1px solid;
    border-radius: 5px;
}
.post-avatar{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 50%;
    font-size: 2em;
    background-color: burlywood;
    text-align: center;
    line-height: 70px;
    margin-left: 20px;
}
.post-contact-container{
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    position: relative;
}
.post-contact-container h1, .post-contact-container h2{
    margin: 0;
    padding: 0;
    margin-top: 5px;
    font-size: 2em;
    letter-spacing: 2px;
}
.post-contact-container h2{
    font-weight: lighter;
    font-size: 1.5em;
}
span{
    font-size: .6em;
    color: gray;
    font-weight: lighter;
}
.progress{
    display: inline-block;
    height: 40px;
    width: 520px;
    line-height: 40px;
    pointer-events: none;
}

.btn-delete{
    margin-top: 3px;
    color:#797474;
    padding: 0;
    vertical-align:top;
}
.btn-delete:hover{
    color: #ff0000;
}


.version{
    border-bottom: 1px solid #001233;
    margin: 50px 0 20px 0;
}

img {
    width: 100%;
    height: 500px;
}

Form{
    width: 600px;
    text-align: left;
    margin: 0 auto;
    padding: 20px;
    border: #001233 1px solid;
    border-radius: 20px;
    background-color: aliceblue;
    margin-top: 100px;
    margin-bottom: 30px;
}

.mark-task{
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.marked{
    text-align: left;
}
.form-check-inline{
    margin-right: 5px;
}
.main-task-container {
    text-align: center;
    
}
.sub-task-container {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}
.task-container{
    position: relative;
    height: 40px;
    text-align: left;
    border: #c0bfbf 1px solid;
    border-radius: 10px;
    margin: 10px 5px;
    background-color: rgb(255, 255, 255, 0);
}
.task-container:hover{
    cursor: pointer;
}
.task-container span, .sub-task div span{
    position: absolute;
    font-size: 1.2em;
    top: 3px;
    left: 10px;
    color: #001233;
    font-weight: bolder;
}

svg {
    pointer-events: none;
  }
.sub-task{
    width: 100%;
}
.sub-task div{
    margin: 5px;
    height: 40px;
    padding: 0px;
}
.sub-task div span{
    position: relative;
}
.sub-task div div{
   padding: 0px;
   margin: 0px;
}
.sub-task div div .btn{
    margin: 0px 3px;
    padding: 3px;
    margin-top: 3px;
 }
 .lastadded{
    font-size: .6em;
 }
 .modal-title{
    width: 90%;
 }